*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 10vh;
    background: #9b8f8f23;

}
header{
    width: 100%;
    display: flex;
    padding: 20px;
}

.itens img{
    width: 10%;

}

.itens{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.box{
    display: flex;
    justify-content: space-between;

}
textarea{
    width: 40vw;
    height: 300px;
    font-size: 30px;
    border: 2px solid #33067b;

}
h2{
    font-weight: 700;
}
.box1 img{
    width:50%;
}
.box1{
    display: flex;
    max-width: 40%;
    padding: 40px;
    background: #ffffff;
    border: 2px solid #33067b;
    border-radius: 10px;
}
p{
    font-weight: 500;
}
.buttons{
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-criptografar, .btn-descriptografar{
    width: 30%;
    height: 40px;
    font-weight: 700;
    background: #85787823;
    border: 2px solid #0f0532;
    border-radius: 20px;
    
}

footer{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    background: #85787823;
    padding: 20px;

}
@media(max-width:800px){
 
    .box1 img{
 
        display: none;
     
    }
    .box1{
        justify-content: center;
        max-width: 50%;
        margin-left: 10px;

    }
    .box1 h2{
        font-size: 20px;
    }
    .box1 span{
        font-size: 12px;
 
    }
    .btn-criptografar, .btn-descriptografar{
        font-size: 12px;
        width: 40%;
    }

}